body {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif !important;
	line-height: 1.2 !important;
}

h2 {
	text-align: left;
}

h3 {
	text-align: center;
}

p {
	text-align: justify;
}
table#descTable {
    width:100%;
}

table#statusTable {
    width:80%;
	margin-left: auto;
	margin-right: auto;
}

table#statusTable tr:nth-child(even) {
    background-color: #99e699;
	text-align: center;
	font-weight: bold;
}
table#statusTable tr:nth-child(odd) {
   background-color:#adebad;
	 text-align: center;
}
table#statusTable th	{
    background-color: black;
    color: white;
	padding: 5px;
	text-align: center;
}

table#descTable td {
	background-color: #eee;
	text-align: left;
	padding: 5px;

}
table#statusTable td	{
	padding: 10px;
}

img.big {

	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	background-color: #000000;
	position: center;
	width:100%;
	max-width: 600px;

}

img.small {

	float: left;
	margin: 2px 20px 2px 15px;

}

#dim {
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 1100;
}

#dim.hide {
	opacity: 0;
	pointer-events: none;
}

#menu {
	position:absolute;
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
	z-index: 1200;
	pointer-events: auto;

}

.window {
	position: absolute;
	font:bold 1vmin 'Roboto', sans-serif !important;
	font-weight:700;
	margin-left: 20%;
	margin-top: 25%;

	padding: 6px 8px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	color: #555;
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
}

.window.collapsed {
	position: absolute;
	transform: scale(1);
	overflow: hidden;
	overflow-x: hidden;
	left: 0;
	top: 0;
	margin-left:10px;
	margin-top:10px;
	font:bold 1vw 'Roboto', sans-serif !important;
}

.window.collapsed button {
	display: none;
}

.loading {
	display: none;
}

.loading.show {
	display: inline;
}

.navbar-default {
	background-color: #2db300 !important;
}

.navbar {

  /*margin-bottom: 1;
  background-color:#86b300;
  border: 0;
  font-family: Georgia, serif;
  font-weight:900;
  font-size: 16px;
  letter-spacing: 1.5px;
  border-radius: 0;
  position:absolute, fixed;
  border-top: 15px solid #e6e600;
  height: 48px;*/
	/*padding-bottom: 1px;*/
}

.navbar-collapse {
	/*position:absolute*/
  margin-bottom: 1;
  background-color:#2db300;
  border: 0;
  /*font-family: Georgia, serif;*/
  font-weight:900;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    color: white !important;
	margin-right:0px !important;
	padding-bottom:5px !important;
	height: 60px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #e6e600 !important;
  /*border-radius: 1px;*/
  padding-top: 35px;
  padding-bottom: 0.5px;
}

.col-sm-4 {
  text-align: center;
  margin: 90px 0;
}


input[type=radio   ]:not(old){

  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -1.3em;
  padding-left : 1.5em;
  background   : url('../images/checks.png') no-repeat left center;
  background-size: contain;
  margin-bottom: 0em !important;
}


input[type=radio]:not(old):checked + label{
  background   : url('../images/checks2.png') no-repeat 0 center;
  background-size: contain;
}


.dateOfWritting {
	font-family: 'Open Sans Condensed', sans-serif; color: #333; font-size: small;
}

.dropdown-menu-form {
    padding: 5px 10px 0;
    max-height: 100px;
    overflow-y: scroll;
}

.dropdown-menu {
    position: relative !important;
	display:inherit !important;
	float: none !important;
    box-shadow: none !important;
	background: none !important;
	border: none !important;
	overflow: hidden;
	overflow-y: hidden;
	padding:2px !important;
	max-height:0px;
	min-width: initial !important;
	font-size: inherit !important;


	-webkit-transition: max-height 1.8s;
	-moz-transition: max-height 1.8s;
	transition: max-height 1.8s;
	transition-delay: 0s;
}



.open>.dropdown-menu {
	max-height:300px;
	display:inherit !important;
	-webkit-transition: max-height 1.8s;
	-moz-transition: max-height 1.8s;
	transition: max-height 1.8s;
	transition-delay: 0s;


}

.dropdown-toggle.btn{
		padding: 0px !important;
		color: inherit !important;
		font-size:inherit !important;
}

.open>.dropdown-toggle.btn {
 background-color: #31c400;
}


path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
